@{
    ViewData["Title"] = "Generuj Raport";
}

<h1>Generate Report</h1>

<div>
    <p>Click the button below to generate a report:</p>
    <a asp-action="GenerateReport" asp-controller="Home" class="btn btn-primary">Generuj Raport</a>
</div>